include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include memoria_cursor/config *.json
recursive-include memoria_cursor/templates *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
